@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  /* overflow-x: hidden; */
  background-color: #fffdfc;
}



main {
  padding: 1rem;
}

.buttonss {
  padding: 16px 8px;
  width: 100%;
  margin-top: 12px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #0891b2;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}

.btn-disabled {
  background-color: #7dd3fc;
  color:#eaf2f3;
  font-weight: 600;
  font-size: 24px;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 9px 0;
  padding: 16px 8px;
  color: #000105;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
}

.li-hover:hover {
  background-color: #67e8f9;
  columns: #fff;
}

.li-selected {
  color: #fff;
  background-color: #06b6d4;
}

.containerss {
  max-width: 740px;
 
  margin: auto;
  padding: 1rem;
}

.quiz-container {
  background-color: #f8f8f8;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 4px;
}

.container p {
  padding: 8px 0;
}